<!DOCTYPE html>
{% load static %}
{% get_media_prefix %}.
<html lang="en">
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
        <link href="{% static 'css/basic.css' %}" rel="stylesheet">
        <link href="{% static 'css/background.css' %}" rel="stylesheet">
        <link href="{% static 'css/editprofile.css' %}" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Lato" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro" rel="stylesheet">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Edit profile</title>
        <link rel="icon" href="{% static 'android-chrome-192x192.png' %}">
    </head>
    <body>
        <div class="background">
        </div>
        <header>
            <form id="searchbox" action="{% url 'accounts:search' %}" method="post">
                {% csrf_token %}
                <input id="fsearch" type="search" name='query' placeholder="Search for friends" value="">
                <input id="fsearchsubmit" type="submit" value="Search">
            </form>
        </header>
        <span class="backhome">
            <a href="{% url 'accounts:profile' from_profile %}">My profile</a>
            <a href="{% url 'accounts:feed' %}">Feed</a>
        </span>
        <main>
            <div class="aboutme">
                <div class="emyphoto">
                    {% if profile_photo %}
                    <img src="{{ profile_photo }}">
                    {% else %}
                    <img src="{{ 'media/blankprofile.png' }}">
                    {% endif %}
                </div>
                <button class="btn btn-secondary ephoto change-photo">Change photo</button>
                <form class="einfo" method="post">
                    {% if invalid %}
                    <h5 class="error">Fill all fields</h5>
                    {% endif%}
                    {% csrf_token %}
                    <label for="firstname">First name</label>
                    <input type="text" class="itext" name="firstname" placeholder="Julia" value="{% if user.first_name %}{{ user.first_name }}{% endif %}">
                    <label for="lastname">Last name</label>
                    <input type="text" class="itext" name="lastname" placeholder="Fletcher" value="{% if user.last_name %}{{ user.last_name }}{% endif %}">
                    <label for="emyinfo">About me</label>
                    <textarea name="bio" class="itext" style="resize: none;" placeholder="I like dogs, reading and rest outdoor." rows="4" name="emyinfo" maxlength="500">{% if profile.bio %}{{ profile.bio }}{% endif %}</textarea>
                    <label for="ebirthday">Birthday</label>
                    <input type="date" class="itext" name="birthday" min="1900-01-01" value='{% if profile.birth_date %}{{ profile.birth_date|date:"Y-m-d" }}{% else %}2000-12-01{% endif %}'>
                    <input type="submit" name="save" class="btn btn-primary ebutton" value="Save">
                </form>
            </div>
            <h4 class="logo">YourFriends.Space</h4>
        </main>
        <div class="modal-change-photo">
            <div class="mback"></div>
            <form method="post" enctype="multipart/form-data">
                <h4>Choose a file</h4>
                {% csrf_token %}
                <input type="file" name="photo">
                <button type="submit" class="btn btn-secondary ephoto change-photo">Change photo</button>
                <span id="close-modal" class="material-symbols-outlined">close</span>
            </form>
        </div>
    </body>
    <script src="{% static 'js/edit_profile.js' %}"></script>
</html>